<div class="row">
  <div class="col-md-12">
    <div class="box <%= collapsed ? 'collapsed-box' : nil %>">
      <div class="box-header with-border">
        <h3 class="box-title"><%= title %></h3>
        <div class="box-tools pull-right">
          <% if collapsed %>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <% else %>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <% end %>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <h5 class="description-header text-center"><%=t 'dashboard.vat_resume' %></h5>
            <%= pie_chart data[:vat], donut: true %>
          </div>

          <div class="col-md-3 col-sm-3">
              <h5 class="description-header text-center"><%=t 'dashboard.totals' %></h5>
              <%= pie_chart data[:totals], donut: true %>
          </div>

          <div class="col-md-3 col-sm-3">
            <h5 class="description-header text-center"><%=t 'dashboard.customers' %></h5>
            <%= pie_chart data[:customers], donut: true %>
          </div>

          <div class="col-md-3 col-sm-3">
            <h5 class="description-header text-center"><%=t 'dashboard.services' %></h5>
            <%= pie_chart data[:services], donut: true %>
          </div>
        </div>
      </div><!-- ./box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->