<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"><%=t 'dashboard.current_year' %></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-xs-2">
            <h5 class="description-header text-center"><%=t 'dashboard.vat_resume' %></h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                <% @reports[:current_year][:vat].each do |rate, total| %>
                  <tr>
                    <td class="text-right"><%= rate %> %</td>
                    <td class="text-right"><%= number_with_precision(total, precision: 2) %> €</td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-xs-10">
            <h5 class="description-header text-center"><%=t 'dashboard.best_customers' %></h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                <% @reports[:current_year][:customers].each do |name, total| %>
                <tr>
                  <td><%= name %></td>
                  <td class="text-right"><%= number_with_precision(total, precision: 2) %> €</td>
                </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!-- ./box-body -->
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <div class="description-block border-right">
              <h5 class="description-header"><%= number_with_precision(@reports[:current_year][:net], precision: 2) %> €</h5>
              <span class="description-text"><%=t 'dashboard.net' %></span>
            </div><!-- /.description-block -->
          </div><!-- /.col -->
          <div class="col-sm-4 col-xs-6">
            <div class="description-block border-right">

              <h5 class="description-header"><%= number_with_precision(@reports[:current_year][:discounts], precision: 2) %> €</h5>
              <span class="description-text"><%=t 'dashboard.discounts' %></span>
            </div><!-- /.description-block -->
          </div><!-- /.col -->
          <% if current_user.country == 'ES' %>
              <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">
                  <h5 class="description-header"><%= number_with_precision(@reports[:current_year][:tax], precision: 2) %> €</h5>
                  <span class="description-text"><%=t 'dashboard.tax' %></span>
                </div><!-- /.description-block -->
              </div><!-- /.col -->
          <% end %>
        </div><!-- /.row -->
      </div>
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->

