<% if @payment_method.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t :validation_error_header %></h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @payment_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :name, t(:description), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'form-control', required: true %>
  </div>
  <%= error_span(@payment_method[:name]) %>
</div>
<div class="control-group">
  <%= f.label :note_for_invoice, t(:note_for_invoice), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :note_for_invoice, :class => 'form-control' %>
  </div>
  <%= error_span(@payment_method[:note_for_invoice]) %>
</div>

<br>
  <%= f.submit t(:save), :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          user_payment_methods_path(current_user.id), :class => 'btn btn-default' %>
