<div class="box-body">
  <% if @payment_method.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :validation_error_header %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @payment_method.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control input-sm', required: true, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :note_for_invoice, :class => 'control-label' %>
    <%= f.text_field :note_for_invoice, :class => 'form-control input-sm' %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :default %><%= t('activerecord.attributes.payment_method.default') %>
    </label>
  </div>
</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-xs-1', data: { disable_with: t('please_wait')} %>
  <%= link_to t('helpers.links.cancel'),
          user_payment_methods_path(current_user.id), :class => 'btn btn-default btn-flat col-xs-1' %>
</div>