<%- model_class = PaymentMethod -%>
<div class="box box-primary">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped table-layout-fixed">
        <thead>
          <tr>
            <th class="col-md-10 col-sm-8 col-xs-9"><%= model_class.human_attribute_name(:name) %></th>
            <th class="col-md-1 col-sm-2 hidden-xs"><%= model_class.human_attribute_name(:default) %></th>
            <th class="col-md-1 col-sm-2 col-xs-3"></th>
          </tr>
        </thead>
        <tbody>
          <% if @payment_methods.empty? %>
              <tr><td colspan="100%"><%=t 'helpers.tables.empty' %></td></tr>
          <% end %>
          <% @payment_methods.each do |payment_method| %>
            <% cache payment_method do %>
              <tr>
                <td>
                  <span class="hidden-xs">
                    <%= best_in_place payment_method, :name, url: user_payment_method_path(current_user, payment_method, format: :json)  %>
                  </span>
                  <div class="visible-xs ellipsis">
                    <%= link_to payment_method.name, edit_user_payment_method_path(current_user, payment_method),
                                class: ('default-flag' if payment_method.default) %>
                  </div>
                </td>
                <td class="hidden-xs">
                  <%= best_in_place payment_method, :default, as: :checkbox,
                                    collection: {'true': t(:checkbox_true), 'false': t(:checkbox_false) },
                                    url: user_payment_method_path(current_user, payment_method, format: :json) %>
                </td>
                <td>
                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary btn-block btn-sm btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <%= link_to edit_user_payment_method_path(current_user.id, payment_method),
                                      method: :get do %>
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                          <%=t 'helpers.links.edit' %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to user_payment_method_path(current_user, payment_method),
                              method: :delete,
                              data: {
                                  'original-title' => t('helpers.links.confirm', default: 'Are you sure?'),
                                  confirm: t(:removal_confirmation, model: PaymentMethod.model_name.human.downcase, description: payment_method.name),
                                  commit: t(:continue),
                                  cancel: t(:cancel)

                              } do %>
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                          <%=t 'helpers.links.destroy' %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-1">
        <%= button_to t('helpers.links.new'),
            new_user_payment_method_path(current_user.id),
            method: :get,
            class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    </div>
  </div>
</div>
