<%- model_class = PaymentMethod -%>
<div class="box box-primary">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-9 col-sm-6 col-xs-8"><%= model_class.human_attribute_name(:name) %></th>
            <th class="col-md-1 col-sm-2 hidden-xs"><%= model_class.human_attribute_name(:default) %></th>
            <th class="col-md-1 col-sm-2 hidden-xs"></th>
            <th class="col-md-1 col-sm-2 col-xs-4"></th>
          </tr>
        </thead>
        <tbody>
          <% if @payment_methods.empty? %>
              <tr><td colspan="100%"><%=t 'helpers.tables.empty' %></td></tr>
          <% end %>
          <% @payment_methods.each do |payment_method| %>
            <% cache payment_method do %>
              <tr>
                <td>
                  <span class="hidden-xs">
                    <%= best_in_place payment_method, :name, url: user_payment_method_path(current_user, payment_method, format: :json)  %>
                  </span>
                  <span class="visible-xs">
                    <%= link_to payment_method.name, edit_user_payment_method_path(current_user, payment_method),
                                class: ('default-flag' if payment_method.default) %>
                  </span>
                </td>
                <td class="hidden-xs">
                  <%= best_in_place payment_method, :default, as: :checkbox,
                                    collection: {'true': t(:checkbox_true), 'false': t(:checkbox_false) },
                                    url: user_payment_method_path(current_user, payment_method, format: :json) %>
                </td>
                <td class="hidden-xs">
                  <%= button_to edit_user_payment_method_path(current_user.id, payment_method),
                                method: :get,
                                class: 'btn btn-default btn-xs btn-block btn-flat' do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span class="hidden-sm-down">
                      <%=t 'helpers.links.edit' %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <%= button_to user_payment_method_path(current_user.id, payment_method),
                              method: :delete,
                              data: { :confirm => t('helpers.links.confirm', default: 'Are you sure?') },
                              class: 'btn btn-xs btn-danger btn-block btn-flat' do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <span class="hidden-xs">
                      <%=t 'helpers.links.destroy' %>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-1">
        <%= button_to t('helpers.links.new'),
            new_user_payment_method_path(current_user.id),
            method: :get,
            class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    </div>
  </div>
</div>
