<%- model_class = PaymentMethod -%>
<div class="page-header">
  <h1><%=t :payment_methods %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%=t :description %></th>
      <th><%=t :note_for_invoice %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td><%= link_to payment_method.id, edit_user_payment_method_path(current_user.id, payment_method) %></td>
        <td>
          <%= best_in_place payment_method, :name, url: user_payment_method_path(current_user, payment_method, format: :json)  %>
        </td>
        <td>
          <%= best_in_place payment_method, :note_for_invoice,
                url: user_payment_method_path(current_user, payment_method, format: :json) %>
        </td>
        <td>
          <%= link_to edit_user_payment_method_path(current_user.id, payment_method), :class => 'btn btn-default btn-xs' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true">
              <%=t 'helpers.links.edit' %>
            </i>
          <% end %>
          <%= link_to user_payment_method_path(current_user.id, payment_method),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' do %>
            <i class="fa fa-trash-o" aria-hidden="true">
              <%=t 'helpers.links.destroy' %>
            </i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_payment_method_path(current_user.id),
            :class => 'btn btn-default' %>
