<%- model_class = EstimateDetail -%>
<tr>
  <td>
    <% unless f.object.id.blank? %>
        <%= f.check_box :_destroy %>
    <% end %>
  </td>
  <td>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :estimate_id %>

    <div class=row>
      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <%= services_select f, :service_id %>
      </div>

      <div class="form-group col-md-4 col-sm-8 col-xs-12">
        <%= f.text_field :description,
                         class: 'form-control input-sm',
                         data: { toggle: 'tooltip', placement: 'top'},
                         title: model_class.human_attribute_name(:description),
                         placeholder: model_class.human_attribute_name(:description) %>
      </div>

      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <div class="input-group">
          <%= f.number_field :quantity, {
              class: 'form-control input-sm',
              data: { toggle: 'tooltip', placement: 'top'},
              title: model_class.human_attribute_name(:quantity),
              step: '0.1',
              onchange: "INSITU.services.calculateTotal('#{ f.object_name }')" } %>
          <span class="input-group-addon"><%= f.object.service.try(:unit).try(:label_short) || 'U' %></span>
        </div>
      </div>

      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <div class="input-group">
          <%= f.text_field :price,
                           class: 'form-control input-sm',
                           data: { toggle: 'tooltip', placement: 'top'},
                           title: model_class.human_attribute_name(:price),
                           onchange: "INSITU.services.calculateTotal('#{ f.object_name }')"  %>
          <span class="input-group-addon"><%= current_user.currency %></span>
        </div>
      </div>

      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <div class="input-group">
          <%= f.number_field :discount, {
              class: 'form-control input-sm',
              data: { toggle: 'tooltip', placement: 'top'},
              title: model_class.human_attribute_name(:discount),
              step: '1',
              min: '0',
              onchange: "INSITU.services.calculateTotal('#{ f.object_name }')" } %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
  </td>

  <td>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :total, { class: 'form-control input-sm', readonly: true } %>
        <span class="input-group-addon"><%= current_user.currency %></span>
      </div>
    </div>
  </td>
</tr>
