<%- model_class = Estimate -%>
<div id="filterrific_results">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-1 col-xs-3 col-sm-2">
          <%= filterrific_sorting_link(@filterrific, :number, label: model_class.human_attribute_name(:number)) %>
        </th>
        <th class="col-md-1 hidden-xs hidden-sm text-center">
          <%= filterrific_sorting_link(@filterrific, :date, label: model_class.human_attribute_name(:date)) %>
        </th>
        <th class="col-md-5 col-xs-5 col-sm-4">
          <%= filterrific_sorting_link(@filterrific, :customer, label: model_class.human_attribute_name(:customer_id)) %>
        </th>
        <th class="col-md-1 hidden-xs hidden-sm text-center">
          <%= filterrific_sorting_link(@filterrific, 'valid until', label: model_class.human_attribute_name(:valid_until)) %>
        </th>
        <th class="col-md-1 col-sm-2 hidden-xs text-right">
          <%= model_class.human_attribute_name(:total) %>
        </th>
        <th class="col-md-1 col-sm-2 col-xs-2"></th>
        <th class="col-md-1 hidden-xs hidden-sm"></th>
        <th class="col-md-1 col-sm-2 col-xs-2"></th>
      </tr>
      </thead>
      <tbody>
      <% if estimates.empty? %>
          <tr><td colspan="100%"><%=t 'helpers.tables.empty' %></td></tr>
      <% end %>

      <% estimates.each do |estimate| %>
        <% cache estimate do %>
          <%= estimate_tr estimate do %>
            <td><%= estimate.number %></td>
            <td class="text-center hidden-xs hidden-sm"><%=ldate estimate.date %></td>
            <td><%= estimate.customer.try(:name) %></td>
            <td class="text-center hidden-xs hidden-sm"><%=ldate estimate.valid_until %></td>
            <td class="text-right hidden-xs"><%= number_to_currency(estimate.total, unit: current_user.currency, format: '%n %u') %></td>
            <td>
              <%= button_to edit_user_estimate_path(current_user, estimate),
                            method: :get,
                            class: 'btn btn-default btn-xs btn-flat btn-block' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.edit' %>
                  </span>
              <% end %>
            </td>
            <td class="hidden-xs hidden-sm">
              <%= button_to user_estimate_path(current_user, estimate),
                            method: :get,
                            class: 'btn btn-default btn-xs btn-flat btn-block' do %>
                  <i class="fa fa-print" aria-hidden="true"></i>
                  <%=t 'helpers.links.print' %>

              <% end %>
            </td>
            <td>
              <%= button_to user_estimate_path(current_user, estimate),
                            :method => :delete,
                            :data => { :confirm => t('helpers.links.confirm', :default => 'Are you sure?') },
                            :class => 'btn btn-xs btn-danger btn-block btn-flat' do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.destroy' %>
                  </span>
              <% end %>
            </td>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate estimates, renderer: BootstrapPagination::Rails %>
</div>