<%- model_class = Estimate -%>
<% content_for :title, "#{ Estimate.model_name.human } #{ @estimate.number}" %>

<section class="invoice">
  <!-- title row -->
  <div class="row">

    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <address>
          <strong><%= current_user[:name] %></strong><br>
          <%= current_user[:tax_id] %><br>
          <%= current_user[:address] %><br>
          <%= current_user[:city] %>, <%= current_user[:state] %> <%= current_user[:postal_code] %><br>
          <%= User.human_attribute_name(:phone_number) %>: <%= current_user[:phone_number] %><br>
          <%= User.human_attribute_name(:email) %>: <%= current_user[:email] %>
        </address>
      </div><!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <address>
          <strong><%= @estimate.customer.name %></strong><br>
          <%= @estimate.customer.address %><br>
          <%= @estimate.customer.city %>, <%= @estimate.customer.state %> <%= @estimate.customer.postal_code %><br>

          <% unless @estimate.customer.contact_phone.blank? %>
            <%= Customer.human_attribute_name(:contact_phone) %>: <%= @estimate.customer.contact_phone %><br>
          <% end %>

          <% unless @estimate.customer.contact_email.blank? %>
            <%= Customer.human_attribute_name(:contact_email) %>: <%= @estimate.customer.contact_email %>
          <% end %>
        </address>
      </div><!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <table class="table table-condensed borderless">
          <tr>
            <th class="col-xs-9 text-right"><%= Estimate.model_name.human %>:</th>
            <td class="text-right"><%= @estimate.number %></td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= model_class.human_attribute_name(:date) %>:</th>
            <td class="text-right"><%=l @estimate[:date] %></td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= model_class.human_attribute_name(:valid_until) %>:</th>
            <td class="text-right"><%=l @estimate.valid_until %></td>
          </tr>
        </table>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>

  <!-- Table row -->
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-right col-xs-1"><%= EstimateDetail.human_attribute_name :quantity %></th>
          <th class="col-xs-2"><%= EstimateDetail.human_attribute_name :service_id %></th>
          <th class="text-center col-xs-1"><%= Service.human_attribute_name :code %></th>
          <th><%= EstimateDetail.human_attribute_name :description %></th>
          <th class="text-right col-xs-1"><%= EstimateDetail.human_attribute_name :price %></th>
          <th class="text-right col-xs-1"><%= EstimateDetail.human_attribute_name :discount %></th>
          <th class="text-right col-xs-1"><%= EstimateDetail.human_attribute_name :total %></th>
        </tr>
        </thead>
        <tbody>
          <% @estimate.estimate_details.each do |detail| %>
            <tr>
              <td class="text-right"><%= detail.quantity %></td>
              <td><%= detail.service.description %></td>
              <td class="text-center"><%= detail.service.code %></td>
              <td><%= detail.description %></td>
              <td class="text-right"><%= number_with_precision(detail.price, precision: 2) %>€</td>
              <td class="text-right"><%= detail.discount %>%</td>
              <td class="text-right"><%= number_with_precision detail.total, precision: 2 %>€</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6"></div>
    <div class="col-xs-6">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="col-xs-9 text-right"><%= Estimate.human_attribute_name :total %>:</th>
            <td class="text-right"><%= number_with_precision @estimate.total, precision: 2 %>€</td>
          </tr>
        </table>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- this row will not appear when printing -->
  <% unless action_name == 'print' %>
    <div class="row no-print">
      <div class="col-xs-12">
        <%= link_to print_user_estimate_url(current_user.id, @estimate.id), class: 'btn btn-default col-xs-1', target: '_blank' do %>
            <i class="fa fa-print"></i> <%=t 'helpers.links.print' %>
        <% end %>

        <%= link_to forward_email_user_estimate_url(current_user.id, @estimate.id),
                     class: 'btn btn-success col-xs-1 btn-flat pull-right',
                     data: { disable_with: t(:please_wait) } do %>
            <i class="fa fa-envelope"></i> <%=t 'helpers.send_by_email' %>
        <% end %>

        <%= link_to print_user_estimate_url(current_user.id, @estimate.id, format: :pdf), class: 'btn btn-primary col-xs-1 pull-right', target: '_blank' do %>
            <i class="fa fa-download"></i> <%=t 'helpers.links.pdf' %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>