<% content_for :title, "#{ Estimate.model_name.human } #{ @estimate.number}" %>

<div class="embed-responsive embed-responsive-4by3">
  <object data="/pdfjs/web/viewer.html?file=<%= print_user_estimate_url(current_user.id, @estimate.id, format: :pdf) %>" class="embed-responsive-item"></object>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <%= link_to invoice_user_estimate_url(current_user.id, @estimate.id), class: 'btn btn-primary btn-flat col-xs-6 col-md-1',
                data: { confirm: t('helpers.links.confirm', :default => 'Are you sure?'), disable_with: t(:please_wait) } do %>
        <i class="fa fa-money"></i> <%=t 'estimates.invoice_title' %>
    <% end %>

    <%= link_to t('helpers.links.cancel'), edit_user_estimate_path(current_user, @estimate), class: 'btn btn-default col-xs-6 col-md-1 btn-flat pull-right' %>

    <%= link_to forward_email_user_estimate_url(current_user.id, @estimate.id),
                class: 'btn btn-success hidden-xs col-md-1 btn-flat pull-right',
                data: { confirm: t('helpers.links.confirm', :default => 'Are you sure?'), disable_with: t(:please_wait) } do %>
        <i class="fa fa-envelope"></i> <%=t 'helpers.send_by_email' %>
    <% end %>
  </div>
</div>

