<div class="box box-primary">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <div class="box-body">
      <input type=password name=dummy_password class=hidden>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="form-group col-lg-4 hidden-xs">
          <%= f.label :logo, class: 'control-label' %>
          <%= f.file_field :logo, class: 'filestyle', data:{ buttonText: t(:open), icon: false } %>
        </div>

        <div class="col-lg-8 hidden-xs">
          <%= image_tag resource.logo.url(:reduced), class: 'img-responsive pull-right' if resource.logo.exists? %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-2 col-xs-6 hidden">
          <%= label_tag :valid_until, User.human_attribute_name(:valid_until), class: 'control-label' %>
          <%= text_field_tag :valid_until, validity_date(current_user), readonly: true, class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-2 col-xs-6">
          <%= f.label :locale, class: 'control-label' %>
          <%= f.select :locale,
                       User.available_locales.map { |l| [ l[:description], l[:id] ] },
                       { include_blank: t('auto') },
                       { class: 'form-control input-sm' } %>
        </div>
      </div>

      <div class=row>
        <div class="form-group col-lg-2 col-xs-5">
          <%= f.label :tax_id, class: 'control-label' %>
          <%= f.text_field :tax_id, autofocus: true, class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-4 col-xs-7">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name, class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-4 col-xs-7">
          <%= f.label :email, class: 'control-label'%>
          <%= f.email_field :email, class: 'form-control input-sm', placeholder: t(:fill_email), readonly: true %>
        </div>

        <div class="form-group col-lg-2 col-xs-5">
          <%= f.label :phone_number, class: 'control-label'%>
          <%= f.text_field :phone_number, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, class: 'control-label' %>
        <%= f.text_field :address, class: 'form-control input-sm' %>
      </div>

      <div class=row>
        <div class="form-group col-lg-3 col-xs-12">
          <%= f.label :city, class: 'control-label' %>
          <%= f.text_field :city, class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-2 col-xs-4">
          <%= f.label :postal_code, class: 'control-label' %>
          <%= f.text_field :postal_code, class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-3 col-xs-8">
          <%= f.label :state, class: 'control-label' %>
          <%= f.text_field :state, class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-4 col-xs-12">
          <%= f.label :country, class: 'control-label' %>
          <%= f.country_select :country, { priority_countries: [ 'ES' ], include_blank: true }, { class: 'form-control input-sm' } %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-2 col-xs-6">
          <%=  label_tag  :currency, User.human_attribute_name(:currency), class: 'control-label' %>
          <%= f.select :currency, currency_options, { include_blank: true }, { class: 'form-control input-sm' } %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%=t :waiting_confirmation_email, email: resource.unconfirmed_email %></div>
      <% end %>

      <div class=row>
        <div class="form-group col-lg-4 col-xs-12">
          <%= f.label :password, class: 'control-label' %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control input-sm' %>
          <p class="help-block"><%=t :leave_password_blank %></p>
        </div>

        <div class="form-group col-lg-4 col-xs-12">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-sm' %>
        </div>

        <div class="form-group col-lg-4 col-xs-12">
          <%= f.label :current_password, class: 'control-label' %>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control input-sm' %>
          <p class="help-block"><%=t :help_current_password %></p>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <%= f.submit t(:update),
                   class: 'btn btn-primary btn-block btn-flat',
                   data: { disable_with: t('please_wait')} %>

    </div>
  <% end %>

  <% if can? :destroy, current_user %>
    <%= button_to t(:cancel_account),
                  registration_path(resource_name),
                  data: {
                      'original-title' => t('helpers.links.confirm', default: 'Are you sure?'),
                      confirm: t(:cancel_account_confirmation),
                      commit: t(:continue),
                      cancel: t(:cancel)
                  },
                  method: :delete,
                  class: 'btn btn-danger btn-block btn-flat' %>
  <% end %>

</div>
