<div class="page-header">
  <h1><%=t :edit_account %></h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <input type=password name=dummy_password class=hidden>

  <div class=row>
    <div class="form-group col-xs-2 pull-left">
      <%= f.label :tax_id, class: 'control-label' %>
      <%= f.text_field :tax_id, autofocus: true, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-xs-5 pull-left">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-xs-5 pull-left">
      <%= f.label :email, class: 'control-label'%>
      <%= f.email_field :email, autofocus: true, class: 'form-control input-sm', placeholder: t(:fill_email) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: 'control-label' %>
    <%= f.text_field :address, autofocus: true, class: 'form-control input-sm' %>
  </div>

  <div class=row>
    <div class="form-group pull-left col-xs-3">
      <%= f.label :city, class: 'control-label' %>
      <%= f.text_field :city, autofocus: true, class: 'form-control input-sm' %>
    </div>

    <div class="form-group pull-left col-xs-2">
      <%= f.label :postal_code, class: 'control-label' %>
      <%= f.text_field :postal_code, autofocus: true, class: 'form-control input-sm' %>
    </div>

    <div class="form-group pull-left col-xs-3">
      <%= f.label :state, class: 'control-label' %>
      <%= f.text_field :state, autofocus: true, class: 'form-control input-sm' %>
    </div>

    <div class="form-group pull-left col-xs-4">
      <%= f.label :country, class: 'control-label' %>
      <%= f.text_field :country, autofocus: true, class: 'form-control input-sm' %>
    </div>
  </div>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%=t :waiting_confirmation_email, email: resource.unconfirmed_email %></div>
  <% end %>

  <div class=row>
    <div class="form-group pull-left col-xs-4">
      <%= f.label :password, class: 'control-label' %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control input-sm' %>
      <p class="help-block"><%=t :leave_password_blank %></p>
    </div>

    <div class="form-group pull-left col-xs-4">
      <%= f.label :password_confirmation, class: 'control-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-sm' %>
    </div>

    <div class="form-group pull-left col-xs-4">
      <%= f.label :current_password, class: 'control-label' %>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control input-sm' %>
      <p class="help-block"><%=t :help_current_password %></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit t(:update), class: 'btn btn-default', data: { disable_with: t('please_wait')} %>
  </div>
<% end %>

<% has_role?('Usuario') do %>
  <h2><%=t :cancel_account %></h2>
  <p>
    <%=t :unhappy %>
    <%= button_to t(:cancel_account), registration_path(resource_name), data: { confirm: t(:are_you_sure) }, method: :delete %>
  </p>
<% end %>
