<div class="box-body">
  <% if @invoice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :validation_error_header %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class=row>
    <% unless @invoice.new_record? %>
      <div class="form-group pull-left col-xs-2">
        <%= f.label :number, :class => 'control-label' %>
        <p class="form-control-static"><%= @invoice[:number] %></p>
      </div>
    <% end %>

    <%= customer_field f, :customer_id, class: 'pull-left col-xs-2', required: true %>

    <div class="form-group pull-left col-xs-2">
      <%= f.label :date, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <%= f.text_field :date, class: 'form-control input-sm date', value: l(@invoice[:date]), required: true %>
      </div>
    </div>

    <div class="form-group pull-left col-xs-2">
      <%= f.label :payment_date, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <%= f.text_field :payment_date,
                         class: 'form-control input-sm date',
                         value: ldate(@invoice[:payment_date]),
                         required: true  %>
      </div>
    </div>

    <div class="form-group pull-left col-xs-2">
      <%= f.label :payment_method_id, :class => 'control-label' %>
      <%= f.collection_select :payment_method_id, PaymentMethod.order(name: :asc), :id, :name,
                              { prompt: true }, { class: 'form-control input-sm', required: true } %>
    </div>

    <div class="form-group pull-left col-xs-2">
      <%= f.label :paid_on, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <%= f.text_field :paid_on, class: 'form-control input-sm date', value: ldate(@invoice[:paid_on]) %>
      </div>
    </div>
  </div>

  <hr>
  <table class="table table-striped" data-no-turbolink>
    <thead>
      <tr>
        <th class=col-xs-1><%=t 'helpers.links.destroy' %></th>
        <th class=col-xs-5>
          <%=t 'activerecord.attributes.invoice/invoice_details.service_id'%>
        </th>
        <th class="col-xs-1">
          <%=t 'activerecord.attributes.invoice/invoice_details.quantity'%>
        </th>
        <th class="col-xs-1">
          <%=t 'activerecord.attributes.invoice/invoice_details.price'%>
        </th>
        <th class="col-xs-1">
          <%=t 'activerecord.attributes.invoice/invoice_details.discount'%>
        </th>
        <th class="col-xs-1">
          <%=t 'activerecord.attributes.invoice/invoice_details.vat_rate'%>
        </th>
        <th class="col-xs-2">
          <%=t 'activerecord.attributes.invoice/invoice_details.total'%>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :invoice_details do |builder| %>
        <%= render 'invoice_details', f: builder %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat', data: { disable_with: t('please_wait')} %>
  <%= link_to t("helpers.links.cancel"),
            user_invoices_path(current_user), :class => 'btn btn-default btn-flat' %>
</div>