<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @invoice } %>

  <%= f.hidden_field :id %>

  <% unless current_user.can_invoice? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :data_of_the_issuer %></h3>
      </div>
      <div class="panel-body">
        <%= render partial: 'users/invoicing_data' %>
      </div>
    </div>
  <% end %>

  <div class=row>
    <% unless @invoice.new_record? %>
      <div class="form-group col-lg-3 col-md-3 col-xs-6">
        <%= f.label :number, :class => 'control-label' %>
        <%= input_code f %>
      </div>
    <% end %>

    <div class="form-group col-lg-3 col-md-4 col-xs-6">
      <%= f.label :date, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :date, class: 'form-control input-sm', value: @invoice[:date], required: true %>
      </div>
    </div>

    <%= customer_field f, :customer_id, class: 'col-lg-4 col-md-5 col-xs-12', required: true %>

    <div class="form-group col-lg-2 col-md-3 col-xs-12">
      <%= f.label :payment_method_id, :class => 'control-label' %>
      <%= f.collection_select :payment_method_id, PaymentMethod.order(name: :asc), :id, :name,
                              { prompt: true }, { class: 'form-control input-sm', required: true } %>
    </div>

    <div class="form-group col-lg-3 col-md-4 col-xs-6">
      <%= f.label :payment_date, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :payment_date,
                         class: 'form-control input-sm',
                         required: true  %>
      </div>
    </div>

    <div class="form-group col-lg-3 col-md-4 col-xs-6">
      <%= f.label :paid_on, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :paid_on, class: 'form-control input-sm' %>
      </div>
    </div>
  </div>

  <%= render 'edit_invoice_details' %>
</div>
<div class="box-footer">
  <% if @invoice.new_record? %>
      <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-6',
                   data: { disable_with: t('please_wait')} %>
      <%= link_to t('helpers.links.back'),
                  user_invoices_path(current_user), :class => 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-6' %>
  <% end %>

  <% unless @invoice.new_record? %>
      <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-4',
                   data: { disable_with: t('please_wait')} %>

      <% if current_user.can_invoice? %>
        <%= link_to user_invoice_path(current_user, @invoice),
                    method: :get,
                    data: { disable_with: t('please_wait') },
                    class: 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-4' do %>
            <i class="fa fa-print" aria-hidden="true">
              <%=t 'helpers.links.print' %>
            </i>
        <% end %>
      <% end %>

      <%= link_to t('helpers.links.cancel'),
                  user_invoices_path(current_user), :class => 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-4' %>
  <% end %>
</div>