<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @invoice } %>

  <%= f.hidden_field :id %>

  <div class=row>
    <% unless @invoice.new_record? %>
      <div class="form-group col-md-2 col-xs-6">
        <%= f.label :number, :class => 'control-label' %>
        <%= input_code f %>
      </div>
    <% end %>

    <div class="form-group col-md-2 col-xs-6">
      <%= f.label :date, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :date, class: 'form-control input-sm', value: @invoice[:date], required: true %>
      </div>
    </div>

    <%= customer_field f, :customer_id, class: 'col-md-2 col-xs-12', required: true %>

    <div class="form-group col-md-2 col-xs-12">
      <%= f.label :payment_method_id, :class => 'control-label' %>
      <%= f.collection_select :payment_method_id, PaymentMethod.order(name: :asc), :id, :name,
                              { prompt: true }, { class: 'form-control input-sm', required: true } %>
    </div>

    <div class="form-group col-md-2 col-xs-6">
      <%= f.label :payment_date, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :payment_date,
                         class: 'form-control input-sm',
                         required: true  %>
      </div>
    </div>

    <div class="form-group col-md-2 col-xs-6">
      <%= f.label :paid_on, :class => 'control-label' %>
      <div class="input-group date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :paid_on, class: 'form-control input-sm' %>
      </div>
    </div>
  </div>

  <%= render 'edit_invoice_details' %>
</div>
<div class="box-footer">
  <% if @invoice.new_record? %>
      <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-xs-6 col-sm-2 col-md-1', data: { disable_with: t('please_wait')} %>
      <%= link_to t('helpers.links.back'),
                  user_invoices_path(current_user), :class => 'btn btn-default btn-flat col-xs-6 col-sm-2 col-md-1' %>
  <% end %>

  <% unless @invoice.new_record? %>
      <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-xs-4 col-sm-2 col-md-1', data: { disable_with: t('please_wait')} %>

      <%= link_to user_invoice_path(current_user, @invoice),
                  method: :get,
                  class: 'btn btn-default btn-flat col-xs-4 col-sm-2 col-md-1' do %>
          <i class="fa fa-print" aria-hidden="true">
            <%=t 'helpers.links.print' %>
          </i>
      <% end %>

      <%= link_to t('helpers.links.cancel'),
                  user_invoices_path(current_user), :class => 'btn btn-default btn-flat col-xs-4 col-sm-2 col-md-1' %>
  <% end %>
</div>