<%- model_class = InvoiceDetail -%>
<tr>
  <td>
    <% unless f.object.id.blank? %>
      <%= f.check_box :_destroy %>
    <% end %>
  </td>
  <td>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :invoice_id %>
    <div class=row>
      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <%= services_select f, :service_id %>
      </div>

      <div class="form-group col-md-3 col-sm-8 col-xs-12">
        <%= f.text_field :description, { class: 'form-control input-sm', placeholder: model_class.human_attribute_name(:description) } %>
      </div>

      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <div class="input-group">
          <%= f.number_field :quantity, {
              class: 'form-control input-sm',
              step: '0.1',
              data: { toggle: 'tooltip', placement: 'top'},
              title: model_class.human_attribute_name(:quantity),
              onchange: "INSITU.services.calculateTotal('#{ f.object_name }')"
          } %>
          <span class="input-group-addon"><%= f.object.service.try(:unit).try(:label_short) || 'U' %></span>
        </div>
      </div>

      <div class="form-group col-md-2 col-sm-4 col-xs-12">
        <div class="input-group">
          <%= f.text_field :price, class: 'form-control input-sm',
                           data: { toggle: 'tooltip', placement: 'top'},
                           title: model_class.human_attribute_name(:price),
                           onchange: "INSITU.services.calculateTotal('#{ f.object_name }')" %>
          <span class="input-group-addon"><%= current_user.currency %></span>
        </div>
      </div>

      <div class="form-group col-md-2 col-sm-3 col-xs-12">
        <div class="input-group">
          <%= f.number_field :discount, {
              class: 'form-control input-sm',
              data: { toggle: 'tooltip', placement: 'top'},
              title: model_class.human_attribute_name(:discount),
              step: '1',
              min: '0',
              onchange: "INSITU.services.calculateTotal('#{ f.object_name }')" } %>
          <span class="input-group-addon">%</span>
        </div>
      </div>

      <div class="form-group col-md-1 col-sm-3 col-xs-12">
        <%= f.collection_select :vat_rate, Vat.order(rate: :asc), :rate, :label,
                                { prompt: false },
                                {
                                    class: 'form-control input-sm',
                                    data: { toggle: 'tooltip', placement: 'top'},
                                    title: model_class.human_attribute_name(:vat_rate),
                                    required: false,
                                    onchange: "INSITU.services.calculateTotal('#{ f.object_name }')"
                                } %>
      </div>
    </div>
  </td>

  <td>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :total, { class: 'form-control input-sm', readonly: true } %>
        <span class="input-group-addon"><%= current_user.currency %></span>
      </div>
    </div>
  </td>   
</tr>
