<%- model_class = InvoiceDetail -%>
<tr>
  <td>
    <% unless f.object.id.blank? %>
      <%= f.check_box :_destroy %>
    <% end %>
  </td>
  <td>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :invoice_id %>
    <div class=row>
      <div class="form-group pull-left col-xs-5">
        <%= services_select f, :service_id %>
      </div>

      <div class="form-group pull-left col-xs-7">
        <%= f.text_field :description, { class: 'form-control input-sm', placeholder: model_class.human_attribute_name(:description) } %>
      </div>
    </div>
  </td>
  <td>
    <div class="form-group">
      <div class="input-group">
        <%= f.number_field :quantity, {
            class: 'form-control input-sm',
            step: '0.1',
            onchange: "INSITU.services.calculateTotal('#{ f.object_name }')"
        } %>
        <span class="input-group-addon"><%= f.object.service.try(:unit).try(:label_short) || 'U' %></span>
      </div>
    </div>
  </td>
  <td>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :price, { class: 'form-control input-sm', onchange: "INSITU.services.calculateTotal('#{ f.object_name }')" } %>
        <span class="input-group-addon">€</span>
      </div>
    </div>
  </td>

  <td>
    <div class="form-group">
      <div class="input-group">
        <%= f.number_field :discount, {
            class: 'form-control input-sm',
            step: '1',
            min: '0',
            onchange: "INSITU.services.calculateTotal('#{ f.object_name }')" } %>
        <span class="input-group-addon">%</span>
      </div>
    </div>
  </td>

  <td>
    <div class="form-group">
      <%= f.collection_select :vat_rate, Vat.order(rate: :asc), :rate, :label,
        { prompt: false },
        {
          class: 'form-control input-sm',
          required: false,
          onchange: "INSITU.services.calculateTotal('#{ f.object_name }')"
        } %>
    </div>
  </td>

  <td>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :total, { class: 'form-control input-sm', readonly: true } %>
        <span class="input-group-addon">€</span>
      </div>
    </div>
  </td>   
</tr>
