<%- model_class = Invoice -%>
<div id="filterrific_results">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-xs-2"><%= model_class.human_attribute_name(:number) %></th>
        <th class="col-xs-1"><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:customer_id) %></th>
        <th class="col-xs-1"><%= model_class.human_attribute_name(:paid_on) %></th>
        <th class="col-xs-1"></th>
        <th class="col-xs-1"></th>
        <th class="col-xs-1"></th>
      </tr>
      </thead>
      <tbody>
      <% if invoices.empty? %>
          <tr><td colspan="6"><%=t 'helpers.tables.empty' %></td></tr>
      <% end %>
      <% invoices.each do |invoice| %>
          <%= invoice_tr invoice do %>
              <td><%= invoice.number %></td>
              <td><%=ldate invoice.date %></td>
              <td><%= invoice.customer.try(:name) %></td>
              <td><%=ldate invoice.paid_on %></td>
              <td>
                <%= button_to edit_user_invoice_path(current_user, invoice),
                              method: :get,
                              :class => 'btn btn-default btn-xs btn-block btn-flat' do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true">
                      <%=t 'helpers.links.edit' %>
                    </i>
                <% end %>
              </td>
              <td>
                <%= button_to user_invoice_url(current_user, invoice),
                              method: :get,
                              :class => 'btn btn-default btn-xs btn-block btn-flat' do %>
                    <i class="fa fa-print" aria-hidden="true">
                      <%=t 'helpers.links.print' %>
                    </i>
                <% end %>
              </td>
              <td>
                <%= button_to user_invoice_path(current_user, invoice),
                              :method => :delete,
                              :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
                              :class => 'btn btn-xs btn-danger btn-block btn-flat' do %>
                    <i class="fa fa-trash-o" aria-hidden="true">
                      <%=t 'helpers.links.destroy' %>
                    </i>
                <% end %>
              </td>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate invoices, renderer: BootstrapPagination::Rails %>
</div>