<%- model_class = Invoice -%>
<% content_for :title, "#{ Invoice.model_name.human } #{ @invoice.number}" %>

<section class="invoice">
  <!-- title row -->
  <div class="row">

    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <address>
          <strong><%= current_user[:name] %></strong><br>
          <%= current_user[:tax_id] %><br>
          <%= current_user[:address] %><br>
          <%= current_user[:city] %>, <%= current_user[:state] %> <%= current_user[:postal_code] %><br>
          <%= User.human_attribute_name(:phone_number) %>: <%= current_user[:phone_number] %><br>
          <%= User.human_attribute_name(:email) %>: <%= current_user[:email] %>
        </address>
      </div><!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <address>
          <strong><%= @invoice.customer.name %></strong><br>
          <%= @invoice.customer.address %><br>
          <%= @invoice.customer.city %>, <%= @invoice.customer.state %> <%= @invoice.customer.postal_code %><br>

          <% unless @invoice.customer.contact_phone.blank? %>
              <%= Customer.human_attribute_name(:contact_phone) %>: <%= @invoice.customer.contact_phone %><br>
          <% end %>

          <% unless @invoice.customer.contact_email.blank? %>
              <%= Customer.human_attribute_name(:contact_email) %>: <%= @invoice.customer.contact_email %>
          <% end %>
        </address>
      </div><!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <table class="table table-condensed borderless">
          <tr>
            <th class="col-xs-9 text-right"><%= Invoice.model_name.human %>:</th>
            <td class="text-right"><%= @invoice.number %></td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= model_class.human_attribute_name(:date) %>:</th>
            <td class="text-right"><%=l @invoice[:date] %></td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= model_class.human_attribute_name(:payment_date) %>:</th>
            <td class="text-right"><%=l @invoice[:payment_date] %></td>
          </tr>
        </table>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div>

  <!-- Table row -->
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-right col-xs-1"><%= InvoiceDetail.human_attribute_name :quantity %></th>
          <th class="col-xs-2"><%= InvoiceDetail.human_attribute_name :service_id %></th>
          <th class="text-center col-xs-1"><%= Service.human_attribute_name :code %></th>
          <th><%= InvoiceDetail.human_attribute_name :description %></th>
          <th class="text-right col-xs-1"><%= InvoiceDetail.human_attribute_name :price %></th>
          <th class="text-right col-xs-1"><%= InvoiceDetail.human_attribute_name :discount %></th>
          <th class="text-right col-xs-1"><%= InvoiceDetail.human_attribute_name :vat_rate %></th>
          <th class="text-right col-xs-1"><%= InvoiceDetail.human_attribute_name :total %></th>
        </tr>
        </thead>
        <tbody>
        <% @invoice.invoice_details.each do |detail| %>
            <tr>
              <td class="text-right"><%= detail.quantity %></td>
              <td><%= detail.service.description %></td>
              <td class="text-center"><%= detail.service.code %></td>
              <td><%= detail.description %></td>
              <td class="text-right"><%= number_with_precision(detail.price, precision: 2) %>€</td>
              <td class="text-right"><%= detail.discount %>%</td>
              <td class="text-right"><%= detail.vat_rate %>%</td>
              <td class="text-right"><%= number_with_precision(detail.subtotal, precision: 2) %>€</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">
      <% unless @invoice.payment_method.try(:note_for_invoice).blank? %>
        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          <%= @invoice.payment_method.note_for_invoice %>
        </p>
      <% end %>
    </div>
    <div class="col-xs-6">
      <div class="table-responsive">
        <table class="table table-condensed borderless">
          <tr>
            <th class="col-xs-9 text-right"><%= Invoice.human_attribute_name :subtotal %>:</th>
            <td class="text-right"><%= number_with_precision(@invoice.subtotal, precision: 2) %>€</td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= Invoice.human_attribute_name :discount %>:</th>
            <td class="text-right red">-&nbsp;<%= number_with_precision(@invoice.discount, precision: 2) %>€</td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= Invoice.human_attribute_name :tax %>:</th>
            <td class="text-right"><%= number_with_precision(@invoice.tax, precision: 2) %>€</td>
          </tr>
          <tr>
            <th class="col-xs-9 text-right"><%= Invoice.human_attribute_name :total %>:</th>
            <td class="text-right"><%= number_with_precision(@invoice.total, precision: 2) %>€</td>
          </tr>
        </table>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- this row will not appear when printing -->
  <% unless action_name == 'print' %>
      <div class="row no-print">
        <div class="col-xs-12">
          <%= link_to print_user_invoice_url(current_user.id, @invoice.id), class: 'btn btn-default btn-flat col-xs-1', target: '_blank' do %>
              <i class="fa fa-print"></i> <%=t 'helpers.links.print' %>
          <% end %>

          <%= link_to  forward_email_user_invoice_url(current_user.id, @invoice.id),
                       class: 'btn btn-success col-xs-1 btn-flat pull-right',
                      data: { disable_with: t(:please_wait) } do %>
              <i class="fa fa-envelope"></i> <%=t 'helpers.send_by_email' %>
          <% end %>

          <%= link_to print_user_invoice_url(current_user.id, @invoice.id, format: :pdf), class: 'btn btn-primary btn-flat col-xs-1 pull-right', target: '_blank' do %>
              <i class="fa fa-download"></i> <%=t 'helpers.links.pdf' %>
          <% end %>
        </div>
      </div>
  <% end %>
</section>