<%- model_class = TimeLog -%>
<% if @time_log.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t :validation_error_header %></h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @time_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= f.hidden_field :task_id %>

<div class="form-group">
  <%= f.label :description, :class => 'control-label' %>
  <%= f.text_field :description, :class => 'form-control input-sm', required: true %>
</div>

<div class=row>
  <div class="form-group pull-left col-xs-8">
    <%= f.label :service_id, :class => 'control-label' %>
    <%= f.collection_select :service_id, Service.order(description: :asc), :id, :description,
      { prompt: true }, { class: 'form-control input-sm', required: true } %>
  </div>

  <div class="form-group pull-left col-xs-2">
    <%= f.label :start_time, :class => 'control-label' %>
    <%= f.time_field :start_time, :class => 'form-control input-sm', required: true %>
    <p class=help-block>hh:mm</p>
  </div>

  <div class="form-group pull-left col-xs-2">
    <%= f.label :end_time, :class => 'control-label' %>
    <%= f.time_field :end_time, :class => 'form-control input-sm' %>
    <p class=help-block>hh:mm</p>
  </div>
</div>

<%= f.submit t(:save), :class => 'btn btn-primary', data: { disable_with: t('please_wait')} %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          user_project_task_time_logs_path(current_user, params[:project_id], params[:task_id]), :class => 'btn btn-default' %>
