<%- model_class = TimeLog -%>
<div class="page-header">
  <h1>
    <%= @task[:description] %>
    <small><%=t 'time_logs.title', :default => model_class.model_name.human.pluralize.titleize %></small>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:end_time) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @time_logs.each do |time_log| %>
      <tr>
        <td>
          <%= link_to time_log.id, edit_user_project_task_time_log_path(current_user, params[:project_id], params[:task_id], time_log) %>
        </td>
        <td>
          <%= best_in_place time_log, :description, url:
              user_project_task_time_log_path(current_user, params[:project_id], params[:task_id], time_log, format: :json) %>
        </td>
        <td><%=l time_log[:start_time], format: :long %></td>
        <td><% unless time_log[:end_time].nil? %><%=l time_log[:end_time], format: :long %><% end %></td>

        <td>
          <%= link_to edit_user_project_task_time_log_path(current_user, params[:project_id], params[:task_id], time_log),
                      :class => 'btn btn-default btn-xs' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true">
              <%=t 'helpers.links.edit' %>
            </i>
          <% end %>

          <%= link_to user_project_task_time_log_path(current_user, params[:project_id], params[:task_id], time_log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' do %>
            <i class="fa fa-trash-o" aria-hidden="true">
              <%=t 'helpers.links.destroy' %>
            </i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_project_task_time_log_path(current_user, params[:project_id], params[:task_id]),
            class: 'btn btn-default' %>
