<%- model_class = DeliveryNoteDetail -%>
<tr>
  <td>
    <% unless f.object.id.blank? %>
      <%= f.check_box :_destroy %>
    <% end %>
  </td>
  <td>    
    <%= f.hidden_field :id %>
    <%= f.hidden_field :delivery_note_id %>
    <div class=row>
      <div class="form-group pull-left col-xs-4">
        <%= f.collection_select :service_id, Service.order(description: :asc), :id, :description,
          { prompt: true },
          {
            class: 'form-control input-sm',
            onchange: "INSITU.services.loadService('#{ user_services_path(current_user)}', this, '#{ f.object_name }')"
          } %>
      </div>

      <div class="form-group pull-left col-xs-8">
        <%= f.text_field :custom_description, { class: 'form-control input-sm', placeholder: model_class.human_attribute_name(:custom_description) } %>
      </div>
    </div>
  </td>  
  <td class=text-right>
    <div class="form-group">
      <div class="input-group">
        <%= f.number_field :quantity, {
            class: 'form-control input-sm',
            step: '0.1',
            onchange: "INSITU.services.calculateTotal('#{ f.object_name }')"
          } %>
        <span class="input-group-addon"><%= f.object.service.try(:unit).try(:label_short) || 'U' %></span>
      </div>
    </div>
  </td>
  <td class=text-right>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :price, { class: 'form-control input-sm' } %>
        <span class="input-group-addon">€</span>
      </div>
    </div>
  </td>
  <td class=text-right>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :total, { class: 'form-control input-sm', readonly: true } %>
        <span class="input-group-addon">€</span>
      </div>
    </div>
  </td>      
</tr>
<% if f.object.id.blank? %>
    <tr>
      <td colspan="100%">
        <%= f.submit t(:add_detail), :class => 'btn btn-primary btn-flat col-xs-12', data: { disable_with: t('please_wait')} %>
      </td>
    </tr>
<% end %>
  