<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @delivery_note } %>

  <%= f.hidden_field :id %>

  <div class=row>
    <% unless @delivery_note.new_record? %>
      <div class="form-group col-lg-2 col-md-3 col-sm-6 col-xs-6">
        <%= f.label :number, class: 'control-label' %>
        <%= input_code f %>
      </div>
    <% end %>

    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <%= f.label :date, :class => 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :date, class: 'form-control input-sm', value: @delivery_note[:date], required: true %>
      </div>
    </div>

    <%= customer_field f, :customer_id, class: 'col-lg-7 col-md-12 col-sm-12 col-xs-12', required: true %>
  </div>

  <%= render 'edit_delivery_note_details' %>
</div>
<div class="box-footer">
  <% if @delivery_note.new_record? %>
      <%= f.submit t(:save), class: 'btn btn-primary btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-6', data: { disable_with: t('please_wait')} %>
      <%= link_to t('helpers.links.back'),
                  user_delivery_notes_path(current_user), class: 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-6' %>
  <% end %>

  <% unless @delivery_note.new_record? %>
      <%= f.submit t(:save), class: 'btn btn-primary btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-4', data: { disable_with: t('please_wait')} %>

      <%= link_to user_delivery_note_path(current_user, @delivery_note),
                  method: :get,
                  data: { disable_with: t('please_wait') },
                  class: 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 hidden-xs' do %>
          <i class="fa fa-print" aria-hidden="true">
            <%=t 'helpers.links.print' %>
          </i>
      <% end %>

      <%= link_to forward_email_user_delivery_note_url(current_user, @delivery_note),
                  data: { disable_with: t(:please_wait) },
                  class: 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-4' do %>
          <i class="fa fa-envelope"></i> <%=t 'helpers.send_by_email' %>
      <% end %>

      <%= link_to t('helpers.links.cancel'),
                  user_delivery_notes_path(current_user), class: 'btn btn-default btn-flat col-lg-1 col-md-2 col-sm-3 col-xs-4' %>
  <% end %>
</div>
