<div class="box-body">
  <% if @delivery_note.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :validation_error_header %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @delivery_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class=row>
    <% unless @delivery_note.new_record? %>
      <div class="form-group pull-left col-xs-2">
        <%= f.label :number, :class => 'control-label' %>
        <%= input_code f %>
      </div>
    <% end %>

    <%= customer_field f, :customer_id, class: 'pull-left col-xs-8', required: true %>

    <div class="form-group pull-left col-xs-2">
      <%= f.label :date, :class => 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <%= f.text_field :date, class: 'form-control input-sm date', value: l(@delivery_note[:date]), required: true %>
      </div>
    </div>
  </div>  

  <hr>
  <table class="table table-striped" data-no-turbolink>
    <thead>
      <tr>          
        <th class=col-xs-1><%=t 'helpers.links.destroy' %></th>
        <th class=col-xs-7>
          <%=t 'activerecord.attributes.delivery_note/delivery_note_details.service_id'%>
        </th>
        <th class="col-xs-1 text-right">
          <%=t 'activerecord.attributes.delivery_note/delivery_note_details.quantity'%>
        </th>      
        <th class="col-xs-1 text-right">
          <%=t 'activerecord.attributes.delivery_note/delivery_note_details.price'%>
        </th>
        <th class="col-xs-2 text-right">
          <%=t 'activerecord.attributes.delivery_note/delivery_note_details.total'%>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :delivery_note_details do |builder| %>
        <%= render 'delivery_note_details', f: builder %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat', data: { disable_with: t('please_wait')} %>
  <%= link_to t("helpers.links.cancel"),
            user_delivery_notes_path(current_user), :class => 'btn btn-default btn-flat' %>
</div>
