<%- model_class = DeliveryNote -%>
<div id="filterrific_results">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-2 col-sm-2 col-xs-3"><%= model_class.human_attribute_name(:number) %></th>
        <th class="col-md-5 col-sm-4 col-xs-5"><%= model_class.human_attribute_name(:customer_id) %></th>
        <th class="col-md-1 col-sm-2 hidden-xs text-center"><%= model_class.human_attribute_name(:date) %></th>
        <th class="col-md-1 hidden-sm hidden-xs text-right"><%= model_class.human_attribute_name(:total) %></th>
        <th class="col-md-1 col-sm-2 col-xs-2"></th>
        <th class="col-md-1 hidden-sm hidden-xs"></th>
        <th class="col-md-1 col-sm-2 col-xs-2"></th>
      </tr>
      </thead>
      <tbody>
      <% if delivery_notes.empty? %>
          <tr><td colspan="0"><%=t 'helpers.tables.empty' %></td></tr>
      <% end %>
      <% delivery_notes.each do |delivery_note| %>
          <tr>
            <td><%= delivery_note.number %></td>
            <td><%= delivery_note.customer.name %></td>
            <td class="text-center hidden-xs"><%=l delivery_note.date %></td>
            <td class="text-right hidden-sm hidden-xs"><%= number_to_currency(delivery_note.total, unit: current_user.currency, format: '%n %u') %></td>
            <td>
              <%= button_to edit_user_delivery_note_path(current_user, delivery_note),
                            method: :get,
                            class: 'btn btn-default btn-xs btn-flat btn-block' do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.edit' %>
                  </span>
              <% end %>
            </td>
            <td class="hidden-xs hidden-sm">
              <%= button_to user_delivery_note_path(current_user, delivery_note),
                            method: :get,
                            class: 'btn btn-default btn-xs btn-flat btn-block' do %>
                  <i class="fa fa-print" aria-hidden="true"></i>
                  <%=t 'helpers.links.print' %>
              <% end %>
            </td>
            <td>
              <%= button_to user_delivery_note_path(current_user, delivery_note),
                            :method => :delete,
                            :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
                            :class => 'btn btn-xs btn-danger btn-flat btn-block' do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.destroy' %>
                  </span>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate delivery_notes, renderer: BootstrapPagination::Rails %>
</div>