<% content_for :title, "#{ DeliveryNote.model_name.human } #{ @delivery_note.number}" %>
<div class="embed-responsive embed-responsive-4by3">
  <object data="/pdfjs/web/viewer.html?file=<%= print_user_delivery_note_url(current_user.id, @delivery_note.id, format: :pdf) %>" class="embed-responsive-item"></object>
</div>
<br>

<div class="row">
  <div class="col-xs-12">
    <%= link_to invoice_user_delivery_note_path(current_user.id, @delivery_note.id), class: 'btn btn-primary col-xs-6 col-md-1',
                data: { confirm: t('helpers.links.confirm', :default => 'Are you sure?'), disable_with: t(:please_wait) } do %>
        <i class="fa fa-money"></i> <%=t 'delivery_notes.invoice_title' %>
    <% end %>

    <%= link_to t('helpers.links.cancel'), previous_url, class: 'btn btn-default col-xs-6 col-md-1 btn-flat pull-right' %>

    <%= link_to forward_email_user_delivery_note_url(current_user.id, @delivery_note.id),
                 class: 'btn btn-success hidden-xs btn-flat pull-right col-md-1',
                 data: { disable_with: t(:please_wait) } do %>
        <i class="fa fa-envelope"></i> <%=t 'helpers.send_by_email' %>
    <% end %>
  </div>
</div>