<%- model_class = Task -%>
<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @task } %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :project_id %>

  <div class="row">
    <div class="form-group col-lg-8 col-md-6 col-sm-6 col-xs-12">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control input-sm', required: true, autofocus: true %>
    </div>
    <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-3">
      <%= f.label :priority, class: 'control-label' %>
      <%= f.select :priority, options_for_select(1..5, @task.priority), { prompt: false },
                   { class: 'form-control input-sm', required: true } %>
    </div>

    <div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-9">
      <%= f.label :dead_line, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
        <%= f.date_field :dead_line, class: 'form-control input-sm', value: @task[:dead_line] %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_area :description, class: 'form-control input-sm' %>
  </div>

  <div class="row">
    <div class="form-group col-md-2 col-sm-3">
      <%= f.label :finish_date, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>

        <%= f.date_field :finish_date, class: 'form-control input-sm', value: @task[:finish_date] %>
      </div>
    </div>
  </div>

  <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title"><%=t 'time_logs.title' %></h3>
    </div>
    <div class="box-body">
      <%= render 'edit_time_logs' %>
    </div>
  </div>

</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-md-1 col-sm-2 col-xs-6', data: { disable_with: t('please_wait')} %>
  <%= link_to t('helpers.links.back'),
            user_project_tasks_path(current_user, @project), :class => 'btn btn-default btn-flat col-md-1 col-sm-2 col-xs-6' %>
</div>