    <%= f.hidden_field :id %>
    <%= f.hidden_field :task_id %>

    <% unless f.object.id.blank? %>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :_destroy %> <%=t 'helpers.links.destroy' %>
          </label>
        </div>
      </div>
    <% end %>

    <div class=row>
      <div class="form-group col-xs-12 col-sm-3 col-md-2">
        <%= f.label :service_id, :class => 'control-label' %>
        <%= f.collection_select :service_id, Service.order(description: :asc), :id, :description,
                                { prompt: true }, { class: 'form-control input-sm' } %>
      </div>

      <div class="form-group col-xs-12 col-sm-9 col-md-7">
        <%= f.label :description, :class => 'control-label' %>
        <%= f.text_field :description, :class => 'form-control input-sm' %>
      </div>

      <div class="form-group col-xs-12 col-sm-3 col-md-2">
        <%= f.label :date, class: 'control-label' %>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
          <%= f.text_field :date, class: 'form-control input-sm date', value: ldate(f.object.date) %>
        </div>
      </div>

      <div class="form-group col-xs-12 col-sm-3 col-md-2">
        <%= f.label :time_spent, :class => 'control-label' %>
        <div class="input-group">
          <%= f.number_field :time_spent, :class => 'form-control input-sm' %>
          <span class="input-group-addon">
            min.
          </span>
        </div>
      </div>
    </div>
    <hr>