<div class="box box-default">
  <div class="box-body">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :task_id %>

    <% unless f.object.id.blank? %>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :_destroy %> <%=t 'helpers.links.destroy' %>
          </label>
        </div>
      </div>
    <% end %>

    <div class=row>
      <div class="form-group pull-left col-xs-3">
        <%= f.label :service_id, :class => 'control-label' %>
        <%= f.collection_select :service_id, Service.order(description: :asc), :id, :description,
                                { prompt: true }, { class: 'form-control input-sm' } %>
      </div>

      <div class="form-group col-xs-5">
        <%= f.label :description, :class => 'control-label' %>
        <%= f.text_field :description, :class => 'form-control input-sm' %>
      </div>

      <div class="form-group pull-left col-xs-2">
        <%= f.label :start_time, :class => 'control-label' %>
        <%= f.time_field :start_time, :class => 'form-control input-sm' %>
        <p class=help-block>hh:mm</p>
      </div>

      <div class="form-group pull-left col-xs-2">
        <%= f.label :end_time, :class => 'control-label' %>
        <%= f.time_field :end_time, :class => 'form-control input-sm' %>
        <p class=help-block>hh:mm</p>
      </div>
    </div>
  </div>
</div>