<%- model_class = Task -%>
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title"><%= @project[:name] %></h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th class="col-xs-2 text-center"><%= model_class.human_attribute_name(:dead_line) %></th>
            <th class="col-xs-2 text-center"><%= model_class.human_attribute_name(:finish_date) %></th>
            <th class="col-xs-1"></th>
            <th class="col-xs-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <%= task_tr task do %>
              <td>
                <%= best_in_place task, :name,
                                  url: user_project_task_url(current_user, params[:project_id], task, format: :json) %>
              </td>
              <td class=text-center><%= ldate task[:dead_line] %></td>
              <td class=text-center><%= ldate task[:finish_date] %></td>
              <td>
                <%= link_to edit_user_project_task_path(current_user, params[:project_id], task),
                            class: 'btn btn-default btn-xs btn-flat btn-block',
                            method: :get do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true">
                    <%=t 'helpers.links.edit' %>
                  </i>
                <% end %>
              </td>
              <td>
                <%= button_to user_project_task_path(current_user, params[:project_id], task),
                            :method => :delete,
                            :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
                            :class => 'btn btn-xs btn-danger btn-flat btn-block' do %>
                  <i class="fa fa-trash-o" aria-hidden="true">
                    <%=t 'helpers.links.destroy' %>
                  </i>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-xs-2">
        <%= button_to t("helpers.links.new"),
            new_user_project_task_path(current_user, params[:project_id]),
            class: 'btn btn-primary btn-flat btn-block',
            method: :get %>
      </div>
      <div class="col-xs-10 text-right">
        <%= will_paginate @tasks, renderer: BootstrapPagination::Rails, class: 'pagination-flat' %>
      </div>
    </div>
  </div>
</div>