<%- model_class = Task -%>
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title"><%= @project[:name] %></h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-xs-8 col-md-8 col-sm-4"><%= model_class.human_attribute_name(:name) %></th>
            <th class="hidden-xs col-md-1 col-sm-2 text-center"><%= model_class.human_attribute_name(:dead_line) %></th>
            <th class="hidden-xs col-md-1 col-sm-2 text-center"><%= model_class.human_attribute_name(:finish_date) %></th>
            <th class="col-md-1 col-sm-2 col-xs-2"></th>
            <th class="col-md-1 col-sm-2 col-xs-2"></th>
          </tr>
        </thead>
        <tbody>
          <% if @tasks.empty? %>
            <tr><td colspan="100%"><%=t 'helpers.tables.empty' %></td></tr>
          <% end %>
          <% @tasks.each do |task| %>
            <%= task_tr task do %>
              <td>
                <%= best_in_place task, :name,
                                  url: user_project_task_path(current_user, task.project, task, format: :json) %>
              </td>
              <td class="hidden-xs text-center"><%= ldate task[:dead_line] %></td>
              <td class="hidden-xs text-center"><%= ldate task[:finish_date] %></td>
              <td>
                <%= link_to edit_user_project_task_path(current_user, task.project, task),
                            class: 'btn btn-default btn-xs btn-flat btn-block',
                            method: :get do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.edit' %>
                  </span>
                <% end %>
              </td>
              <td>
                <%= button_to user_project_task_path(current_user, task.project, task),
                            :method => :delete,
                            :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
                            :class => 'btn btn-xs btn-danger btn-flat btn-block' do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.destroy' %>
                  </span>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <%= button_to t("helpers.links.new"),
          new_user_project_task_path(current_user, @project),
          class: 'btn btn-primary btn-flat col-xs-3 col-sm-2 col-md-1',
          method: :get %>

    <%= button_to t('tasks.bill_finished'),
                    invoice_finished_user_project_tasks_path(current_user, @project),
                    class: 'btn btn-default btn-flat col-xs-3 col-sm-2 col-md-1',
                    method: :get %>

    <%= button_to t('helpers.links.back'),
                    user_projects_path(current_user),
                    class: 'btn btn-default btn-flat col-xs-3 col-sm-2 col-md-1',
                    method: :get %>

    <div class="col-xs-3 col-sm-6 col-md-9 text-right">
      <%= will_paginate @tasks, renderer: BootstrapPagination::Rails, class: 'pagination-flat' %>
    </div>
  </div>
</div>