<%- model_class = DeliveryNoteDetail -%>
<tr>
  <td>  
    <div class=row>
      <div class="form-group pull-left col-xs-4">
        <%= f.collection_select :service_id, Service.order(description: :asc), :id, :description,
          { prompt: true }, { class: 'form-control input-sm', required: true } %>
      </div>

      <div class="form-group pull-left col-xs-8">
        <%= f.text_field :custom_description, { class: 'form-control input-sm', placeholder: model_class.human_attribute_name(:custom_description) } %>
      </div>
    </div>
  </td>
  <td class=text-right>
    <div class="form-group">
      <%= f.text_field :quantity, { class: 'form-control input-sm', required: true } %>
    </div>
  </td>
  <td class=text-right>
    <div class="form-group">
      <%= f.text_field :price, { class: 'form-control input-sm', required: true } %>
    </div>
  </td>
  <td></td>
  <td class=text-right>
    <%= button_tag type: 'submit', class: 'btn btn-primary btn-sm' do %>
      <i class="fa fa-floppy-o" aria-hidden="true">
        <%=t 'save' %>
      </i>
    <% end %>
  </td>
</tr>

<!--
    <% if @delivery_note_detail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@delivery_note_detail.errors.count, "error") %> prohibited this delivery_note_detail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @delivery_note_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :delivery_note_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :delivery_note_id, :class => 'form-control' %>
    </div>
    <%= error_span(@delivery_note_detail[:delivery_note_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :service_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :service_id, :class => 'form-control' %>
    </div>
    <%= error_span(@delivery_note_detail[:service_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@delivery_note_detail[:quantity]) %>
  </div>


  

-->
