<div class=row>
  <div class="form-group col-lg-2 col-xs-5">
    <%= label_tag 'user[tax_id]', User.human_attribute_name(:tax_id), class: 'control-label' %>
    <%= text_field_tag 'user[tax_id]', current_user[:tax_id], class: 'form-control input-sm' %>
  </div>

  <div class="form-group col-lg-4 col-xs-7">
    <%= label_tag 'user[name]', User.human_attribute_name(:name), class: 'control-label' %>
    <%= text_field_tag 'user[name]', current_user[:name], class: 'form-control input-sm' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-lg-6 col-xs-12">
    <%= label_tag 'user[address]', User.human_attribute_name(:address), class: 'control-label' %>
    <%= text_field_tag 'user[address]', current_user[:address], class: 'form-control input-sm' %>
  </div>

  <div class="form-group col-lg-2 col-xs-4">
    <%= label_tag 'user[postal_code]', User.human_attribute_name(:postal_code), class: 'control-label' %>
    <%= text_field_tag 'user[postal_code]', current_user[:postal_code], class: 'form-control input-sm' %>
  </div>

  <div class="form-group col-lg-4 col-xs-12">
    <%= label_tag 'user[country]', User.human_attribute_name(:country), class: 'control-label' %>
    <%= country_select 'user','country', { selected: current_user[:country], priority_countries: [ 'ES' ], include_blank: true }, { class: 'form-control input-sm' } %>
  </div>
</div>