<td><%= user.email %></td>
<td class="hidden-xs hiddem-sm"><%= user.role.try(:description) %></td>
<td class="hidden-xs hidden-sm"><%= user.name %></td>
<td class="hidden-sm hidden-xs text-center"><%= validity_date user %></td>
<td class="hidden-xs text-center">
  <i class="fa fa-check" aria-hidden="true"></i>
</td>
<td class="text-right">
  <%= link_to edit_user_path(user),
              title: t('helpers.links.edit'),
              class: 'hidden-xs' do %>
    <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
  <% end %>

  <% if can? :ban, user %>
    <%= link_to ban_user_path(user),
                method: :delete,
                title: t('users.ban_link'),
                data: {
                    'original-title' => t('helpers.links.confirm', :default => 'Are you sure?'),
                    confirm: t(:ban_confirmation, user: user.email),
                    commit: t(:continue),
                    cancel: t(:cancel)
                } do %>
      <i class="fa fa-2x fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% end %>
</td>