<td><%= user.email %></td>
<td class="hidden-xs hiddem-sm"><%= user.role.try(:description) %></td>
<td class="hidden-xs hidden-sm"><%= user.name %></td>
<td class="hidden-sm hidden-xs text-center"><%= validity_date user %></td>
<td class="hidden-xs text-center">
  <% if user.confirmed? %>
      <i class="fa fa-check" aria-hidden="true"></i>
  <% end %>
</td>
<td>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary btn-block btn-sm btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <%= link_to edit_user_path(user), :method => :get do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true">
              <%=t 'helpers.links.edit' %>
            </i>
        <% end %>
      </li>
      <% unless user.is_administrator? %>
          <li>
            <%= link_to ban_user_path(user), :method => :delete,
                    :data => {
                        'original-title' => t('helpers.links.confirm', :default => 'Are you sure?'),
                        confirm: t(:ban_confirmation, user: user.email),
                        commit: t(:continue),
                        cancel: t(:cancel)
                    } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <%=t 'users.ban_link' %>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</td>