<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="panel panel-default col-xs-12 col-lg-4 col-lg-offset-4" style="margin-top: 25px">
    <div class="panel-body">
      <div class="row">
        <h2><%=t :change_your_password %></h2>
      </div>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="form-group has-feedback">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
          <span class="fa fa-lock form-control-feedback"></span>
          <% if @minimum_password_length %>
          <p class="help-block">(<%= @minimum_password_length %> <%=t :characters_minimum %>)</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="form-group has-feedback">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('activerecord.attributes.user.password_confirmation') %>
          <span class="fa fa-lock form-control-feedback"></span>
        </div>
      </div>

      <div class="row">
        <%= f.submit t(:change_my_password), class: 'btn btn-primary col-xs-12' %>
      </div>

      <div class="row" style="margin-top: 5px;">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>