

  <% if @customer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :validation_error_header %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class=row>
    <div class="form-group col-xs-3 pull-left">
      <%= f.label :tax_id, :class => 'control-label' %>
      <%= f.text_field :tax_id, :class => 'form-control input-sm' %>
    </div>

    <div class="form-group col-xs-9 pull-left">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control input-sm', required: true %>
    </div>
  </div>

  <div class=row>
    <div class="form-group col-xs-3 pull-left">
      <%= f.label :billing_serie, :class => 'control-label' %>
      <%= f.text_field :billing_serie, :class => 'form-control input-sm' %>
    </div>

    <div class="form-group col-xs-3 pull-left">
      <%= f.label :billing_tax, :class => 'control-label' %>
      <%= f.text_field :billing_tax, :class => 'form-control input-sm' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contact_name, :class => 'control-label' %>
    <%= f.text_field :contact_name, :class => 'form-control input-sm' %>
  </div>

  <div class=row>
    <div class="form-group col-xs-3 pull-left">
      <%= f.label :contact_phone, :class => 'control-label' %>
      <%= f.text_field :contact_phone, :class => 'form-control input-sm' %>
    </div>
    <div class="form-group col-xs-9 pull-left">
      <%= f.label :contact_email, :class => 'control-label' %>
      <%= f.text_field :contact_email, :class => 'form-control input-sm' %>
    </div>
  </div>
  <%= f.submit t(:save), :class => 'btn btn-primary', data: { disable_with: t('please_wait')} %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            user_customers_path(current_user), :class => 'btn btn-default' %>
