<%- model_class = Customer -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:contact_name) %></th>
      <th><%= model_class.human_attribute_name(:contact_phone) %></th>
      <th><%= model_class.human_attribute_name(:contact_email) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.id, edit_user_customer_path(current_user, customer) %></td>
        <td><%= best_in_place customer, :name, url: user_customer_path(current_user, customer, format: :json) %></td>
        <td><%= best_in_place customer, :contact_name, url: user_customer_path(current_user, customer, format: :json) %></td>
        <td><%= best_in_place customer, :contact_phone, url: user_customer_path(current_user, customer, format: :json) %></td>
        <td><%= best_in_place customer, :contact_email, url: user_customer_path(current_user, customer, format: :json) %></td>
        <td class=text-right>
          <%= link_to edit_user_customer_path(current_user, customer), :class => 'btn btn-default btn-xs' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true">
              <%=t 'helpers.links.edit' %>
            </i>
          <% end %>
          <%= link_to user_customer_path(current_user, customer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' do %>
            <i class="fa fa-trash-o" aria-hidden="true">
              <%=t 'helpers.links.destroy' %>
            </i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_customer_path(current_user),
            :class => 'btn btn-default' %>
