<div class="box-body">
  <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :validation_error_header %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control input-sm', required: true, autofocus: true %>
  </div>

  <div class=row>
    <div class="form-group pull-left col-xs-6">
      <%= f.label :project_status_id, :class => 'control-label' %>
      <%= f.collection_select :project_status_id, ProjectStatus.order(name: :asc), :id, :locale_name,
        { prompt: true }, { class: 'form-control input-sm', required: true } %>
    </div>

    <%= customer_field f, :customer_id, class: 'pull-left col-xs-6', required: true %>
  </div>
</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-xs-1', data: { disable_with: t('please_wait')} %>
  <%= link_to t("helpers.links.cancel"),
            user_projects_path(current_user), :class => 'btn btn-default btn-flat col-xs-1' %>
</div>