<%- model_class = Project -%>
<div id="filterrific_results">
  <div class="table-responsive">
    <table class="table table-striped table-layout-fixed">
      <thead>
      <tr>
        <th class="col-md-8 col-xs-6 col-sm-4">
          <%= filterrific_sorting_link(@filterrific, :name, label: model_class.human_attribute_name(:name)) %>
        </th>
        <th class="hidden-xs col-md-1 col-sm-2">
          <%= filterrific_sorting_link(@filterrific, 'project status', label: model_class.human_attribute_name(:project_status_id)) %>
        </th>
        <th class="col-md-1 col-sm-2 hidden-xs"></th>
        <th class="col-md-1 col-sm-2 col-xs-3"></th>
        <th class="col-md-1 col-sm-2 col-xs-3"></th>
      </tr>
      </thead>
      <tbody>
      <% if projects.empty? %>
          <tr><td colspan="100%"><%=t 'helpers.tables.empty' %></td></tr>
      <% end %>
      <% projects.each do |project| %>
        <% cache project do %>
          <tr>
            <td>
              <span class="hidden-xs">
                <%= best_in_place project, :name, url: user_project_path(current_user, project, format: :json)%>
              </span>
              <div class="ellipsis">
                <%= link_to project.name, edit_user_project_path(current_user, project) %>
              </div>
            </td>
            <td class="hidden-xs"><%= project.project_status.locale_name %></td>
            <td class="hidden-xs">
              <%= button_to edit_user_project_path(current_user, project),
                            class: 'btn btn-default btn-xs btn-block btn-flat',
                            method: :get do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <%=t 'helpers.links.edit' %>
              <% end %>
            </td>
            <td>
              <%= button_to user_project_tasks_path(current_user, project),
                            class: 'btn btn-default btn-xs btn-block btn-flat',
                            method: :get do %>
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'tasks.title' %>
                  </span>
              <% end %>
            </td>
            <td>
              <%= button_to user_project_path(current_user, project),
                            :method => :delete,
                            :data => { :confirm => t("helpers.links.confirm", :default => 'Are you sure?') },
                            :class => 'btn btn-xs btn-danger btn-block btn-flat' do %>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span class="hidden-xs">
                    <%=t 'helpers.links.destroy' %>
                  </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate projects, renderer: BootstrapPagination::Rails %>
</div>