<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t 'projects.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class=col-xs-1><%= model_class.human_attribute_name(:id) %></th>
      <th class=col-xs-6><%= model_class.human_attribute_name(:name) %></th>
      <th class=col-xs-1><%= model_class.human_attribute_name(:project_status_id) %></th>
      <th class=col-xs-4></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, edit_user_project_path(current_user, project) %></td>
        <td>
          <%= best_in_place project, :name,
                url: user_project_path(current_user, project, format: :json)%>
        </td>
        <td><%= project.project_status.name %></td>
        <td>
          <%= link_to edit_user_project_path(current_user, project), class: 'btn btn-default btn-xs' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true">
              <%=t 'helpers.links.edit' %>
            </i>
          <% end %>

          <%= link_to user_project_tasks_path(current_user, project), class: 'btn btn-default btn-xs' do %>
            <i class="fa fa-tasks" aria-hidden="true">
              <%=t 'tasks.title' %>
            </i>
          <% end %>

          <%= link_to user_project_path(current_user, project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' do %>
            <i class="fa fa-trash-o" aria-hidden="true">
              <%=t 'helpers.links.destroy' %>
            </i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_project_path(current_user),
            :class => 'btn btn-default' %>
