<%= form_for @invoice_detail, :html => { :class => "form-horizontal invoice_detail" } do |f| %>

    <% if @invoice_detail.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice_detail.errors.count, "error") %> prohibited this invoice_detail from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :invoice_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :invoice_id, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice_detail[:invoice_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :service_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :service_id, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice_detail[:service_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice_detail[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :vat_rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vat_rate, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice_detail[:vat_rate]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice_detail[:price]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary', data: { disable_with: t('please_wait')} %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            invoice_details_path, :class => 'btn btn-default' %>

<% end %>
