<%- model_class = InvoiceDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:invoice_id) %></th>
      <th><%= model_class.human_attribute_name(:service_id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:vat_rate) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_details.each do |invoice_detail| %>
      <tr>
        <td><%= link_to invoice_detail.id, invoice_detail_path(invoice_detail) %></td>
        <td><%= invoice_detail.invoice_id %></td>
        <td><%= invoice_detail.service_id %></td>
        <td><%= invoice_detail.description %></td>
        <td><%= invoice_detail.vat_rate %></td>
        <td><%= invoice_detail.price %></td>
        <td><%=l invoice_detail.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_invoice_detail_path(invoice_detail), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      invoice_detail_path(invoice_detail),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_invoice_detail_path,
            :class => 'btn btn-primary' %>
