<%- model_class = Unit -%>
<div class="box box-primary">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-1 col-sm-2 hidden-xs"><%= model_class.human_attribute_name(:label_short) %></th>
            <th class="col-xs-8"><%= model_class.human_attribute_name(:label_long) %></th>
            <th class="col-md-1 col-sm-2 hidden-xs"></th>
            <th class="col-md-1 col-sm-2 col-xs-4"></th>
          </tr>
        </thead>
        <tbody>
          <% if @units.empty? %>
            <tr><td colspan="100%"><%=t 'helpers.tables.empty' %></td></tr>
          <% end %>
          <% @units.each do |unit| %>
            <% cache unit do %>
              <tr>
                <td class="hidden-xs"><%= best_in_place unit, :label_short, url: user_unit_path(current_user, unit, format: :json) %></td>
                <td>
                  <span class="hidden-xs">
                    <%= best_in_place unit, :label_long, url: user_unit_path(current_user, unit, format: :json) %>
                  </span>
                  <span class="visible-xs">
                    <%= link_to unit.label_long, edit_user_unit_path(current_user, unit) %>
                  </span>
                </td>
                <td class="hidden-xs">
                  <%= button_to edit_user_unit_path(current_user.id, unit),
                                class: 'btn btn-default btn-xs btn-flat btn-block',
                                method: :get do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span class="hidden-xs">
                      <%=t 'helpers.links.edit' %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <%= button_to user_unit_path(current_user.id, unit),
                              :method => :delete,
                              :data => { :confirm => t('helpers.links.confirm', :default => 'Are you sure?') },
                              :class => 'btn btn-xs btn-danger btn-flat btn-block' do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <span class="hidden-xs">
                      <%=t 'helpers.links.destroy' %>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-12">
        <%= button_to t('helpers.links.new'),
            new_user_unit_path(current_user.id),
            :class => 'btn btn-primary btn-flat btn-block',
            method: :get %>
      </div>
    </div>
  </div>
</div>
