<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @vat } %>

  <div class="row">
    <div class="form-group col-md-1 col-sm-2 col-xs-6">
      <%= f.label :label, :class => 'control-label' %>
      <%= f.text_field :label, :class => 'form-control input-sm', required: true, autofocus: true %>
    </div>

    <div class="form-group col-md-1 col-sm-2 col-xs-6">
      <%= f.label :rate, :class => 'control-label' %>
      <div class="input-group">
        <%= f.number_field :rate, :class => 'form-control input-sm', min: 0, step: 1 %>
        <span class="input-group-addon">%</span>
      </div>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :default %><%= t('activerecord.attributes.vat.default') %>
    </label>
  </div>
</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-md-1 col-sm-2 col-xs-6', data: { disable_with: t('please_wait')} %>
  <%= link_to t('helpers.links.cancel'),
            user_vats_path(current_user.id), :class => 'btn btn-default btn-flat col-md-1 col-sm-2 col-xs-6' %>
</div>
