<div class="box-body">
  <% if @vat.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t :validation_error_header %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @vat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-2">
      <%= f.label :label, :class => 'control-label' %>
      <%= f.text_field :label, :class => 'form-control input-sm', required: true, autofocus: true %>
    </div>

    <div class="form-group col-xs-2">
      <%= f.label :rate, :class => 'control-label' %>
      <div class="input-group">
        <%= f.text_field :rate, :class => 'form-control input-sm' %>
        <span class="input-group-addon">%</span>
      </div>
    </div>
  </div>
</div>
<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-xs-1', data: { disable_with: t('please_wait')} %>
  <%= link_to t('helpers.links.cancel'),
            user_vats_path(current_user.id), :class => 'btn btn-default btn-flat col-xs-1' %>
</div>
