<div class="box-body">
  <%= render partial: 'layouts/validation_errors', locals: { object: @plan } %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_field :description, :class => 'form-control input-sm', required: true %>
  </div>

  <div class=row>
    <div class="form-group col-xs-1">
      <%= f.label :months, :class => 'control-label' %>
      <%= f.number_field :months, class: 'form-control input-sm', requried: true, min: 1, step: 1 %>
    </div>

    <div class="form-group col-xs-1">
      <%= f.label :price, :class => 'control-label' %>
      <div class="input-group">
        <%= f.number_field :price, class: 'form-control input-sm', requried: true, min: 1, step: 1 %>
        <div class="input-group-addon"><%= current_user.try(:currency) %></div>
      </div>
    </div>

    <div class="form-group col-xs-1">
      <%= f.label :vat_rate, :class => 'control-label' %>
      <div class="input-group">
        <%= f.number_field :vat_rate, class: 'form-control input-sm', requried: true, min: 1, step: 1 %>
        <div class="input-group-addon">%</div>
      </div>
    </div>
  </div>

  <div class="checkbox">
    <%= f.label :is_active, :class => 'control-label' do %>
        <%= f.check_box :is_active %>
        <%= Plan.human_attribute_name(:is_active) %>
    <% end %>
  </div>
</div>

<div class="box-footer">
  <%= f.submit t(:save), :class => 'btn btn-primary btn-flat col-xs-1', data: { disable_with: t('please_wait')} %>
  <%= link_to t('helpers.links.cancel'), plans_path, :class => 'btn btn-default btn-flat col-xs-1' %>
</div>
