<%- model_class = Plan -%>
<div id="filterrific_results">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th class="col-xs-1 text-right"><%= model_class.human_attribute_name(:months) %></th>
        <th class="col-xs-1 text-right"><%= model_class.human_attribute_name(:price) %></th>
        <th class="col-xs-1 text-right"><%= model_class.human_attribute_name(:vat_rate) %></th>
        <th class="col-xs-1"><%= model_class.human_attribute_name(:is_active) %></th>
        <th class="col-xs-1"></th>
      </tr>
      </thead>
      <tbody>
      <% if plans.empty? %>
          <tr><td colspan="7"><%=t 'helpers.tables.empty' %></td></tr>
      <% end %>
      <% plans.each do |plan| %>
        <tr>
          <td><%= plan.description %></td>
          <td class="text-right"><%= plan.months %></td>
          <td class="text-right">
            <%= number_to_currency plan.price, unit: current_currency_symbol, precision: 2, format: '%n %u' %>
          </td>
          <td class="text-right">
            <%= number_to_percentage plan.vat_rate, precision: 0 %>
          </td>
          <td><%= plan.is_active ? t(:checkbox_true) : t(:checkbox_false) %></td>
          <td>
            <%= button_to plan_path(plan),
                          method: :delete,
                          data: { confirm: t('helpers.links.confirm', default: 'Are you sure?') },
                          class: 'btn btn-xs btn-danger btn-flat btn-block' do %>
                <i class="fa fa-trash-o" aria-hidden="true">
                  <%=t 'helpers.links.destroy' %>
                </i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate plans, renderer: BootstrapPagination::Rails,
                    class: 'pagination pagination-sm',
                    next_label: '<i class="fa fa-step-forward" aria-hidden="true"></i>',
                    previous_label: '<i class="fa fa-step-backward" aria-hidden="true"></i>' %>
</div>