<%- model_class = Plan -%>
<div id="filterrific_results">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th class="col-xs-1 text-right"><%= model_class.human_attribute_name(:months) %></th>
        <th class="col-xs-1 text-right"><%= model_class.human_attribute_name(:price) %></th>
        <th class="col-xs-1 text-right"><%= model_class.human_attribute_name(:vat_rate) %></th>
        <th class="col-xs-2"><%= model_class.human_attribute_name(:hosted_button_id) %></th>
        <th class="col-xs-1"><%= model_class.human_attribute_name(:is_active) %></th>
        <th class="col-xs-1"></th>
      </tr>
      </thead>
      <tbody>
      <% if plans.empty? %>
          <tr><td colspan="7"><%=t 'helpers.tables.empty' %></td></tr>
      <% end %>
      <% plans.each do |plan| %>
          <tr>
            <td><%= best_in_place plan, :description, url: plan_path(plan, format: :json) %></td>
            <td class="text-right"><%= best_in_place plan, :months, url: plan_path(plan, format: :json) %></td>
            <td class="text-right">
              <%= best_in_place plan, :price,
                                display_with: :number_to_currency, helper_options: { unit: '€', precision: 2, format: '%n %u'},
                                url: plan_path(plan, format: :json) %>
            </td>
            <td class="text-right">
              <%= best_in_place plan, :vat_rate, url: plan_path(plan, format: :json) %> %
            </td>
            <td>
              <%= best_in_place plan, :hosted_button_id, url: plan_path(plan, format: :json) %>
            </td>
            <td>
              <%= best_in_place plan, :is_active, as: :checkbox,
                                collection: {'true': t(:checkbox_true), 'false': t(:checkbox_false) },
                                url: plan_path(plan, format: :json) %>
            </td>
            <td>
              <%= button_to plan_path(plan),
                            :method => :delete,
                            :data => { :confirm => t('helpers.links.confirm', :default => 'Are you sure?') },
                            :class => 'btn btn-xs btn-danger btn-flat btn-block' do %>
                  <i class="fa fa-trash-o" aria-hidden="true">
                    <%=t 'helpers.links.destroy' %>
                  </i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate plans, renderer: BootstrapPagination::Rails %>
</div>