<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title><%= content_for?(:title) ? yield(:title) : "In Situ" %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "_all-skins", :media => "all", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "skin-blue", :media => "all", 'data-turbolinks-track' => true %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%# = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%# = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%# = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%# = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%# = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'></script>
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header">
        <!-- Logo -->
        <%= link_to user_dashboard_index_path(current_user), class: 'logo' do %>
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>In situ</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>In situ</b></span>
        <% end %>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only"><%=t :toggle_navigation %></span>
          </a>

          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <%= image_tag image_url('user.png'), class: 'user-image', alt: 'User image' %>

                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><%= current_user.name || current_user.email %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <%= image_tag image_url('user.png'), class: 'user-image', alt: 'User image' %>
                    <p>
                      <%= current_user.name || current_user.email %>
                      <small><%=t :sign_in_at %> <%=l current_user.current_sign_in_at, format: :long %></small>
                    </p>
                  </li>

                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <%= link_to t(:my_profile), edit_user_registration_path, class: 'btn btn-default btn-flat' %>
                    </div>
                    <div class="pull-right">
                      <%= link_to t(:log_out), destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat'  %>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <%= image_tag image_url('user.png'), class: 'user-image', alt: 'User image' %>
            </div>
            <div class="pull-left info">
              <p><%= current_user.name || current_user.email %></p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header"><%=t :my_office %></li>

            <li class="treeview">
              <a href="#"><i class="fa fa-database"></i> <span><%=t :general %></span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><%= link_to t('payment_methods.title'), user_payment_methods_path(current_user.id)  %></li>
                <li><%= link_to t('vats.title'), user_vats_path(current_user.id) %></li>
                <li><%= link_to t('units.title'), user_units_path(current_user.id) %></li>
                <li><%= link_to t('services.title'), user_services_path(current_user.id)  %></li>
                <li><%= link_to t('customers.title'), user_customers_path(current_user.id) %></li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#"><i class="fa fa-cog"></i> <span><%=t :production %></span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><%= link_to t('dashboard.title'), user_dashboard_index_path(current_user.id) %></li>
                <li><%= link_to t('projects.title'), user_projects_path(current_user.id)%></li>
                <% if current_user.can_invoice? %>
                  <li><%= link_to t('estimates.title'), user_estimates_path(current_user.id) %></li>
                  <li><%= link_to t('delivery_notes.title'), user_delivery_notes_path(current_user.id) %></li>
                  <li><%= link_to t('invoices.title'), user_invoices_path(current_user.id) %></li>
                <% end %>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%= content_header %>
        <section class="content">
          <div class="alert alert-danger" role="alert" id="bip_error_message" style="display:none">
          </div>

          <%= bootstrap_flash %>
          <%= yield %>
        </section>
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
    </div>
  </body>
</html>
